package.json
frontend/package.json
frontend/config
frontend/src/third_party/mlmd
frontend/src/__tests__/cypress/.nyc_output
frontend/src/__tests__/cypress/coverage
backend/package.json
backend/jest.config.js
.eslintrc.js
.eslintrc.goal.js